.student-info-container {
  border: 2px solid #2b2828;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .student-info-container {
    grid-template-columns: 1fr;
  }

  input {
    position: relative;
    width: 80%;
  }
}
h4,
h5 {
  background: #2b2828;
}
